header {
    background-color: #005f99;
    color: white;
    padding: 20px;
    text-align: center;
  }
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
color: #333;
}

form {
    display: flex;
    flex-direction: column;
  }
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .form-container h2 {
    text-align: center;
    color: #005f99;
  }
    

  
form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  form .btn {
    padding: 10px;
    background-color: #005f99;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form .btn:hover {
    background-color: #00487a;
  }

  footer {
    background-color: #005f99;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }